.App {
  text-align: center;
  color: white;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  .notes-list {
    border: 1px white solid;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        overflow-wrap: break-word;
        margin: 0;
        border-bottom: 1px white solid;
      }
    }
  }
  .visu-panel {
    border: 1px white solid;
    border-left: 0;
    flex: 1;
  }
}
